<!--格言-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
    <div class="widget-wrap" th:fragment="aphorism">
        <h3 class="follow">不止于代码</h3>
        <div class="widget">
            <div class="card-front animated col s12 m12 l8 offset-l2 fadeInUp bg-aphorism">
                <p class="bg-danger">
                    	古人学问无遗力，少壮工夫老始成。<br>
                    <br>
                    	纸上得来终觉浅，绝知此事要躬行。<br>
                    <span class="aphorism-author"> -陆游</span>
                    <br>
                </p>
            </div>
        </div>
    </div>
</body>
</html>